{"configSettings":[{"appID":"voiceSDK_en","serverToken":""},{"appID":"SharedServerToken","serverToken":"Y2EJ6RDBLX23I3YZ2BAZBDWJ4MMQL5KL"},{"appID":"1727234757643392","serverToken":""},{"appID":"voiceSDK_nl","serverToken":""},{"appID":"430027472841950","serverToken":"Y2EJ6RDBLX23I3YZ2BAZBDWJ4MMQL5KL"}]}